body{
  margin: 0;
}

header {
background-color:#202f55;
padding: 20px 40px;
}




#navmain{
  display: flex;
  flex: 1;
}
nav{
  width: 30%;
  background-color:#00734d;
  padding: 20px;
}
.navtext{
  font-size: 18px;
  margin: 10px;
  padding-top: 20px;
}
.navtext>p{
  line-height:20px;
}
span{
  font-size: 10px;
}




main{
  flex: 1;
  background-color:#8c2727;
  padding:20px;
}

.contents{
  overflow:hidden;
}
.links{
  float: left;
  margin: 20px 20px 50px 0;
  color: #fff;
  padding:5px 30px;
  border: 1px solid #d98d30;
  text-align: center;
  background-color: #333
}
.dates{
  font-family:"Roboto Light" sans-serif;
  margin: 20px 0 0 0;
}
.datalist{
  font-size: 18px;
  color: #999;
  margin: 0;
}



footer{
  background-color:#d98d30;
  padding: 20px 40px;
}

.footercontener{
  display: flex;
  justify-content:space-between;
}
.yellow{
  color: #0f0;
  margin: 0;
}

.black{
  font-size:18px;
}
